body{
    background-color: #f2f2f2;
     font-family: Arial, sans-serif;
     margin:0;
     padding:0;
}
.Resume{
    Width:700px;
    Background:white;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    }
    .header{
        text-align: center;
    }
    .header img{
        width: 250px;
        height: 250px;
        border-radius: 50%;
        display: block;
        margin:auto;

    }
    h1{
        color: #1a237e;
        margin-top: 10px;
    }
    h2{
        color:#1565c0;
        border-top: 2px solid #253c57;
        padding-top: 5px ;
        
    }
    .section{
        margin-top: 20px;
    }
    p{
        line-height: 1.6;
    }
    ul{
        padding-left: 20px;
    }
    li{
        margin-bottom: 8px;
    }
    .footer{
        margin-top: 50px;
    }
    .footer{
        border: 1px solid #263649;
        margin-bottom: 20px;
    }
    .footer-row{
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    .footer-row div{
        width: 30%;
    }
    .footer-row h3{
        color: #1565c0;
        margin-bottom: 10px;
    }
